{% extends "menu.html" %}
{% block content %}

<div class="content-card profile-card">
    <div class="avatar-container" onclick="avatarClick()">
        <div class="avatar-placeholder">Soon...</div>
    </div>

    <div class="profile-fields">
        <input placeholder="First Name" name="first_name" value="{{ session.get('first_name', 'No first name') }}">
        <input placeholder="Last Name" name="last_name" value="{{ session.get('last_name', 'No last name') }}">
        <input placeholder="Email" type="email" name="email" value="{{ session.get('email', 'No email') }}">
        <input placeholder="Username" name="username" value="{{ session.get('username', 'No username') }}">
        <div class="account-type-label">Date of birth</div>
        <input type="date" id="birthDate" max="{{ today }}">

        <div class="account-type-label">Type of account</div>
        <div class="account-toggle">
            <div id="privateBtn" class="option-button">Private</div>
            <div id="publicBtn" class="option-button">Public</div>
        </div>
        <div id="accountInfo" class="account-info"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/profile.js') }}"></script>

{% endblock %}
