{% extends "menu.html" %}
{% block content %}

<div class="content-card profile-card">
    <div class="avatar-container" onclick="avatarClick()">
        <div class="avatar-placeholder">Soon...</div>
    </div>

    <div class="profile-fields">
        <input type="text" id="firstName" placeholder="First Name">
        <input type="text" id="lastName" placeholder="Surname">
        <input type="text" id="nickname" placeholder="@Nickname">
        <div class="account-type-label">Date of birth</div>
        <input type="date" id="birthDate" max="{{ today }}">

        <div class="account-type-label">Type of account</div>
        <div class="account-toggle">
            <div id="privateBtn" class="option-button">Private</div>
            <div id="publicBtn" class="option-button">Public</div>
        </div>
        <div id="accountInfo" class="account-info"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='profile.js') }}"></script>

{% endblock %}
