{% extends "menu.html" %}

{% block content %}
<div class="card-box">
    <div class="content-card">
        <h1>Full-length practice</h1>
        <p class="optional">Test your knowledge in a timed test with an exam-like atmosphere.</p>
        <button class="soon">Coming soon</button>
        <h3>134 min</h3>
    </div>
    <a href="{{ url_for('ebrw_info') }}"><div class="content-card">
        <h1>EBRW practice</h1>
        <p class="optional">Test your reading and writing skills in the format of a full English test.</p>
        <button class="start">Start</button>
        <h3>64 min</h3>
    </div></a>
    <div class="content-card">
        <h1>Math practice</h1>
        <p class="optional">Test your problem-solving skills in the format of a full Math test.</p>
        <button class="soon">Coming soon</button>
        <h3>70 min</h3>
    </div>
</div>
{% endblock %}
